<div class="entry">
	<div class="date">
		<span class="d-day"><%= @day %></span>
		<span class="d-month"><%= @month %></span>
	</div>
	<div class="news">
			<h4 class="news-title"><%= @title %></h4>
			<p class="news-content"><%= @content %></p>
			<% if @link %>
			<p class="more">
				<a href="<%= @link %>"><%= @link_title %></a>
			</p>
			<% end %>
	</div>
</div>