<%= erb :header %>
<section id="about"><%= erb :about %></section>
<section id="news"><%= erb :news %></section>
<section id="dates"><%= erb :dates %></section>
<section id="music"><%= erb :music %></section>
<section id="photos"><%= erb :photos %></section>
<section id="contact"><%= erb :contact %></section>
